.App {
  text-align: center;
}

body{
  margin: 0;
  background-color:#8eadcc;
}
nav a{
  position: relative;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill,minmax(1fr,3fr));
  transition: all 0.4s ease;
  color:#fff;
	padding:10px;
	text-decoration:none;
}

nav{
  width:100%;
	margin: 0 0 5px 0;
	background:#1766ee;
}
nav a:hover {
	background:#2686e6;
}


.containPokemons{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-column-gap: 50px;
  grid-row-gap:5px;
  transition: all 0.4s ease;
}

.pokemon-card {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  grid-template-areas: "imagepoke" "namepoke" "types";
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
  text-align: center;
  border-radius: 18px;
  padding: 10px 10px;
  border: 1px solid rgb(45, 9, 206);
  background-color: #8eadcc;
  transition: all 0.2s ease-in-out;
}

.pokemon-img-container {
  grid-area: imagepoke;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding: 0px 1px;
}

.pokemon-img-container:hover{
  transform: scale(1.25);
	cursor: pointer;
}

.pokemon-img {
  width:100%;
}

.pokemon-name{
  grid-area: namepoke;
  text-transform: capitalize;
  font-size: large;
}

.pokemon-type {
  grid-area: types;
  font-weight: 600;
}

.pokemon-type-text {
  margin-right: 5px;
  text-transform: capitalize;
}

.landingImage img{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landingImage:hover::after{
  transform: translateY(30px);
}

.landingImage::after{
  content: "Bienvenido click aqui para ingresar";
  font-size: 2rem;
  color: #fff;
  background-color: #16456198;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

input.danger {
  border: 2px solid red;
}
p.danger {
  color: red;
  font-size: 10px;
}